h1{
font-size: 10px;
color: #f7f3f2;
background-color: #8b0000;
text-align: center;
}

label{
    color: blue;
}

body h1{
    font-size: 35px;
    color:ghostwhite;
    background-color: #8b0000;
    text-align: center;
    }

td{
    font-size: 17PX;
    color: #000000;
    background-color: #008b00;
}

